<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sign.mapper.ClassTimeMapper">
    <select id="selectSignAndClassTimeVoList" resultMap="selectSignAndClassTimeVoList">
        select class_time.id class_time_id,
               classroom_id,
               course_id,
               begin_time,
               late_time,
               deadline,
               sign.id       sign_id,
               student_id,
               state,
               reason,
               image_address,
               classroom_num,
               teaching_area_id,
               classroom.lng,
               classroom.lat,
               classroom.radius,
               name
        from class_time
                     left join sign on class_time.id = sign.class_time_id
                     left join classroom on class_time.classroom_id = classroom.id
                     left join teaching_area on classroom.teaching_area_id = teaching_area.id
        where (ISNULL(student_id) or student_id = #{studentId})
          and course_id = #{courseId}
        order by state, begin_time
    </select>
    <resultMap id="selectSignAndClassTimeVoList" type="SignAndClassTimeAndClassroomAndTeachingAreaVo">
        <result column="class_time_id" property="classTimeId"/>
        <result column="classroom_id" property="classroomId"/>
        <result column="course_id" property="courseId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="late_time" property="lateTime"/>
        <result column="deadline" property="deadline"/>
        <association property="sign" javaType="sign.entity.Sign">
            <id column="sign_id" property="id"/>
            <result column="classroom_id" property="classTimeId"/>
            <result column="student_id" property="studentId"/>
            <result column="state" property="state"/>
            <result column="reason" property="reason"/>
            <result column="image_address" property="imageAddress"/>
        </association>
        <association property="classroomVo" javaType="sign.entity.VO.ClassroomVo">
            <id column="classroom_id" property="id"/>
            <result column="classroom_num" property="classroomNum"/>
            <result column="teaching_area_id" property="teachingAreaId"/>
            <result column="lng" property="lng"/>
            <result column="lat" property="lat"/>
            <result column="radius" property="radius"/>
            <association property="teachingArea" javaType="sign.entity.TeachingArea">
                <id column="teaching_area_id" property="id"/>
                <result column="name" property="name"/>
            </association>
        </association>
    </resultMap>
    <resultMap id="selectClassTimeAllInfo" type="sign.entity.VO.ClassTimeAllInfoVo">
        <result column="class_time_id" property="classTimeId"/>
        <result column="classroom_id" property="classroomId"/>
        <result column="course_id" property="courseId"/>
        <result column="class_time_begin_time" property="beginTime"/>
        <result column="class_time_late_time" property="lateTime"/>
        <result column="class_time_deadline" property="deadline"/>
        <result column="fail_num" property="sign"/>
        <result column="null_num" property="nullNum"/>
        <result column="fail_num" property="failNum"/>
        <result column="late_num" property="lateNum"/>
        <result column="all_num" property="lateNum"/>
        <association property="classroomVo" javaType="sign.entity.VO.ClassroomVo">
            <id column="classroom_id" property="id"/>
            <result column="classroom_num" property="classroomNum"/>
            <result column="teaching_area_id" property="teachingAreaId"/>
            <result column="classroom_lng" property="lng"/>
            <result column="classroom_lat" property="lat"/>
            <result column="classroom_radius" property="radius"/>
            <association property="teachingArea" javaType="sign.entity.TeachingArea">
                <id column="course_id" property="id"/>
                <result column="teaching_area_name" property="name"/>
                <result column="teaching_area_lng" property="lng"/>
                <result column="teaching_area_lat" property="lat"/>
                <result column="teaching_area_radius" property="radius"/>
            </association>
        </association>
    </resultMap>
    <select id="selectClassTimeAllInfo" resultMap="selectClassTimeAllInfo">
        SELECT class_time.id                               class_time_id,
               class_time.course_id                        course_id,
               class_time.begin_time                       class_time_begin_time,
               class_time.late_time                        class_time_late_time,
               class_time.deadline                         class_time_deadline,
               classroom.id                                classroom_id,
               classroom.classroom_num                     classroom_num,
               classroom.lng                               classroom_lng,
               classroom.lat                               classroom_lat,
               classroom.radius                            classroom_radius,
               teaching_area.id                            teaching_area_id,
               teaching_area.NAME                          teaching_area_name,
               teaching_area.lng                           teaching_area_lng,
               teaching_area.lat                           teaching_area_lat,
               teaching_area.radius                        teaching_area_radius,
               all_num,
               fail_num,
               late_num,
               seccess_num,
               all_num - fail_num - late_num - seccess_num null_num
        FROM class_time
                     JOIN classroom ON class_time.classroom_id = classroom.id
                     JOIN teaching_area ON teaching_area.id = classroom.teaching_area_id
                     LEFT JOIN (
                SELECT SUM(CASE WHEN state = 1 THEN 1 ELSE 0 END) AS fail_num,
                       SUM(CASE WHEN state = 2 THEN 1 ELSE 0 END) AS late_num,
                       SUM(CASE WHEN state = 3 THEN 1 ELSE 0 END) AS seccess_num,
                       class_time_id                                 cnt_id
                FROM sign
                GROUP BY cnt_id
                ) cnt ON cnt.cnt_id = class_time.id
                     LEFT JOIN (SELECT count(*) all_num, course_id all_id FROM student_course GROUP BY course_id) all_t
                ON all_t.all_id = class_time.course_id
        where class_time.id = #{arg0}
    </select>
</mapper>
